@import '/modern-normalize.css';

body {
    background-image: url(background.svg)

}

#title {
    display: flex;
    font-family: Josefin Slab;
    color: #ffffff;
    font-size: 4rem;
    justify-content: center;
    margin-top: 1%;
}

#typing-text {
    display: flex;
    font-family: Josefin Slab;
    color: #033764;
    border-right: .15em solid rgb(196, 234, 230);
    background-color: #caf0f8db;
    border-radius: 10px;;
    font-size: 2rem;
    text-align: center;
    margin-top: -2.5%;
    animation: typing 1s steps(40, end), blink-caret .75s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(12, 209, 235, 0.49); }
}

#card {
    text-align: center;
    background-color:#caf0f8db;
    border-radius: 2ch;
    margin: 20px auto;
    max-width: 50rem;
    max-height: auto;
    font-family: Josefin Slab;
    color: #033764;
    font-size: 1.5rem;
    overflow: scroll;
    margin-top: -2%;
}

#submit {
    background-color: #033764;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5%;
}

#submit:hover {
    background-color: #17a7198b;
}

#waterdrunk {
    border-radius: 0.8ch;
}

.notification-div {
    text-align: center;
    background-color:#caf0f8db;
    border-radius: 2ch;
    max-width: 50rem;
    max-height: auto;
    font-family: Josefin Slab;
    color: #033764;
    font-size: 30px;
    font-weight: 600;
}


footer { 
    font-family: Josefin Slab;
    font-weight: 800;
    color: #edeeef;
    text-align: center;
    font-size: 1.2rem;
}

footer a i {
    font-size: 20px; 
    margin-right: 1px; 
    font-family: Josefin Slab;
    color: #c5c7ca;
}

footer a:visited {
    color: #7b8088;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color:#caf0f8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a7198b;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    font-family: Josefin Slab;
    font-size: 25px; 
}

#confirm-yes, #confirm-no {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-yes {
    background-color: #033764;
    color: white;
}

#confirm-yes:hover {
    background-color: #17a7198b;
}

#confirm-no {
    background-color: #033764;
    color: white;
}

#confirm-no:hover {
    background-color: rgba(255, 0, 0, 0.551);
}